<% provide :title, t("page.title.contact") %>
<h1><%= t "page.title.contact" %></h1>
<p>
<%= t "page.content.contact1" %> <%= link_to Settings.ror, Settings.home_ruby %> 
<%= t "page.content.contact2" %>
</p> 
