<li>
  <%= gravatar_for user, size: Settings.gravatar.size5 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("page.edit.delete"), user, method: :delete,
      data: {confirm: t("page.edit.confirm")} %>
  <% end %>
</li>
