<footer>
  <small>
    <%= link_to Settings.ror, Settings.home_ruby %>
  </small>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t("page.title.about"), about_path %></li>
      <li><%= link_to t("page.title.contact"), contact_path %></li>
      <li><%= link_to t("page.title.news"), Settings.news %></li>
    </ul>
  </nav>
</footer>
